@import "../../styles/mixins.scss";

.container {
    max-width: 900px;
    margin: 0 auto;

    padding: 0 1rem;
}

.postList {
    margin: 5rem 0;

    .heading {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
        font-size: 1.6rem;

        background: url("/chain.svg") no-repeat right;
        background-size: contain;
    }

    .list {
        margin-top: 2rem;

        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .postItem {
        @include translateAnimation;
    }

    .morePosts {
        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--gray-900);
        color: var(--gray-100);

        border: 0;
        border-radius: 3rem;

        font-size: 1rem;

        width: 100%;
        max-width: 300px;
        height: 3rem;

        margin: 5rem auto;


        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }

    @media(min-width: 768px) {
        .list {
            margin-top: 4rem;
        }
    }
}