.container {
    max-width: 900px;
    margin: 0 auto;

    padding: 0 1rem;
}

.postList {
    margin: 5rem 0;

    .heading {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
        font-size: 1.6rem;

        background: url("/chain.svg") no-repeat right;
        background-size: contain;
    }

    .list {
        margin-top: 2rem;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    @media(min-width: 768px) {
        .list {
            margin-top: 4rem;
        }
    }
}