:root {
    --white: #ffffff;

    --gray-100: #e1e1e6;
    --gray-300: #a8a8b3;
    --gray-700: #323238;
    --gray-800: #29292e;
    --gray-850: #1f2729;
    --gray-900: #121214;

    --purple: #556afa;

    --green: #05a54d;
    --cyan-500: #61dafb;
    --yellow-500: #eba417;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
body {
    font-family: "Inter", sans-serif;
}

body {
    background: #f0f0f0;
}


body::-webkit-scrollbar {
    width: 9px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--gray-700);
    border-radius: 20px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;

}

ul {
    list-style: none;
}