.container {

    border: 1px solid rgba(#a8a8b3, 0.4);
    border-radius: 20px 0 20px 0;
    padding: 0.5rem;

    @media(min-width: 768px) {
        padding: 1rem;
    }
}

.heading {
    display: flex;
    gap: 1rem;
    align-items: center;

    padding: 1rem 0;
    border-bottom: 1px solid rgba(#a8a8b3, 0.4);
}

.avatar {
    border-radius: 50%;
}

.userInformation {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    overflow: hidden;

    strong {
        font-size: 1.1rem;
    }

    span {
        color: var(--gray-800);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.comment {
    margin-top: 1rem;

    color: var(--gray-800);
}