.container {
    max-width: 1000px;
    margin: 0 auto;
}

.informativeSection {
    margin-top: 5rem;

    height: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    position: relative;

    &::after {
        content: "";

        width: 200px;
        height: 200px;

        background: url("/arrow-top.svg") no-repeat center;
        background-size: contain;

        position: absolute;
        bottom: 0;
        left: 0;
    }

    @media(min-width: 1024px) {
        margin-top: 8rem;
    }
}

.heading {
    font-size: 2rem;
    text-align: center;

    span {
        text-transform: uppercase;
        border-bottom: 5px solid var(--purple);
    }
}

.updateFrequency {
    text-align: center;
}

.seePosts {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 300px;
    height: 40px;

    border-radius: 40px;

    color: var(--gray-100);
    font-weight: bold;

    background: var(--purple);

    transition: filter 0.2s ease;

    &:hover {
        filter: brightness(1.3);
    }
}