.container {
    max-width: 900px;
    margin: 0 auto;

    padding: 1rem;

    @media(min-width: 768px) {
        padding: 2rem;
    }
}

.postSelected {
    margin: 3rem 0;
}

.comments {
    .list {
        margin-top: 2rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}